<!DOCKTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="./css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="./css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="style.css"/>
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<title>FDIBA UISS</title>
</head>
<body>
<div id="back-top" style="opacity: 0.7;">
</div>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="LogInPage.html">УИСС</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ><a href="#">Изход</a></li>
        <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><img src="img/bg.png" style="width:28px; height: 18px;"/> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li style="text-align: left"><a href="#"><img src="img/bg.png" class="lang"/>BG</a></li>
            <li role="separator" class="divider"></li>
            <li style="text-align: left"><a href="#"><img src="img/de.png" class="lang"/>DE</a></li>
            <li role="separator" class="divider"></li>
            <li style="text-align: left"><a href="#"><img src="img/en.png" class="lang"/>EN</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="img\FDIBA_nova_sgrada_template.jpg" alt="...">
    
    </div>
    <div class="item">
      <img src="img\Biblioteka.jpg" alt="...">
     
    </div>
    <div class="item">
      <img src="img\Diplomirane.jpg" alt="...":>
    </div>
  </div>
  <div>
  </div>
</div>

<script
			  src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"></script>
        
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="js/action.js"></script>
<div class="wrap">
       <div col-md-5 img-thumbnail" style="padding: 0px;">
                    <div id="feedback"> <div class="container">

  
<div class="footer">
<small>&copy; Copyright 2018, Ivaylo Marinov</small>
</div>
  
</body>
</html>